<header>
  <div class="container text-center">
    <div class="fh5co-navbar-brand">
      <!-- <a class="fh5co-logo" href="index.html">Neos</a> -->
      <%= link_to("Keisuke Tsukamoto", say_hello_path) %>
    </div>
    <nav id="fh5co-main-nav" role="navigation">
      <ul>
        <li>
          <%= nav_link_to("Home", "home", page_home_path, "current-page") %>
        </li>
        <li>
          <%= nav_link_to("About", "about_us", page_about_us_path, "current-page") %>
        </li>
        <li>
          <%= nav_link_to("Products", "products", page_products_path, "current-page") %>
        </li>
        <li>
          <%= nav_link_to("Articles", "articles", page_articles_path, "current-page") %>
        </li>
        <li>
          <%= nav_link_to("Calendar", "calendar", calendar_path, "current-page") %>
        </li>
        <li>
          <%= nav_link_to("Contact Us", "contact_us", contact_us_path, "current-page") %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li>
            <%= nav_link_to("Login", "new", new_user_session_path, "current-page") %>
          </li>
        <% end %>
      </ul>
    </nav>
    <% if user_signed_in? %>
      Welcome, <%= current_user.email %>
    <% end %>
  </div>
</header>
